<div class="sub-heading">
  <h4>Work History</h4>
  <h5>Hirecraft Technologies Private Limited - Associate Software Engineer</h5>
  <h5>Bengaluru, KA</h5>
  <h6>03/2018 - Current</h6>
    <ul class="work-exp">
      <li>Collaborated with team members to create application’s system analysis based on client requirements.</li>
      <li>Designed and updated layouts to meet usability and performance requirements.</li>
      <li>Developed and owned the UI for the HRMS application and Job Portal.</li>
      <li>Application version control using git.</li>
    </ul>
</div>
