<div class="row">
  <div class="col-sm-3"></div>
  <div class="col-sm-6" style="border: 10px solid white;">
      <!-- <img src="../../assets/resume.png"> -->
      <div>
      <div class="row">
          <div class="col-sm-12" style="padding:0px;">
              <app-resume-header></app-resume-header>
            </div>
      </div>
      <div class="row">
          
            <div class="col-sm-8 nopadding left-container">
              <app-professional-summary></app-professional-summary>
              <hr>
              <app-work-history></app-work-history>
              <hr>
              <app-hobbies></app-hobbies>
              <hr>
              <div class="sub-heading">
                    <h4>Declaration</h4>
                    <p>I hereby declare that the all the information furnished above is true to the best of my knowledge and belief.</p>
                  </div>
            </div>
            
            <div class="col-sm-4 nopadding right-container">
                <app-personal-details></app-personal-details>
                <hr>
                <app-skills></app-skills>
                <hr>
                <app-education></app-education>
            </div>
      </div>
      </div>
</div>