/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";
body {
    overflow-x: hidden;
}
.fullSizeDiv {
    width: 100%;
    height: 100vh;
    margin: auto;
    background-image: url("src/assets/back3.jpg");
    background-attachment: fixed;
}
.exploreBtn{
    position: absolute;
    top: 50%;
    left: 40%;
    z-index: 2;
    color:white;
    border: 2px solid#ffd600a1;
    font-weight:bold;
    border-radius: 100px 40px;
}
.resume-container{
  border: 10px solid white;
}

.exploreBtn:hover{
  color:white;
}
.profile-photo {
  position: absolute;
  top: 20%;
  left: 45%;
}
.downlaodLink {
  color: white;
}
.short-des {
    position: absolute;
    font-weight:bold;
    color: #f3f7f9cf;
    top: 40%;
    left: 31%;
    font-size: 46px;
    z-index: 2;
}
.resumeDiv{
    height: 100vh;
    background-image: url("src/assets/back2.png");
    background-attachment: fixed;
}
.header-resume a {
  position: absolute;
  top:0;
  right: 0;
}
.left-container{
  height:1000px;
  background-color: #ffffff;
  padding-left:20px;
  font-family: palatino linotype;
}
.right-container{
  height:1000px;
  background-color: #f5f5f5;
  font-family: palatino linotype;
}
.sub-heading p {
  font-size: 14px;
}
.sub-heading h4 {
  font-style: italic;
  padding-top:5px;
  
}
.sub-heading h5 {
  font-size:14px;  
}
.sub-heading h6 {
  font-size:10px;  
  font-style: italic;
}
.work-exp {
  padding: 15px;
  font-size: 14px;
}
.personal-details {
  padding-top: 25px;
  font-size: 14px;
}
.edu-percentage {
  padding-left: 20px;
  padding-top: 0px;
  font-size: 14px;
}
.play-pause {
  position: relative;
  top:2px;
  right: -7px;
}
/* .heart-rate {
    width: 150px;
    height: 73px;
    position: relative;
    margin: 20px auto;
  }
  
  .fade-in {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #FFFFFF;
    top: 0;
    right: 0;
    animation: heartRateIn 2.5s linear infinite;
  }
  
  .fade-out {
    position: absolute;
    width: 120%;
    height: 100%;
    top: 0;
    left: -120%;
    animation: heartRateOut 2.5s linear infinite;
    background: rgba(255, 255, 255, 1);
    background: -moz-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -o-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: -ms-linear-gradient(left, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 50%, rgba(255, 255, 255, 0) 100%);
    background: linear-gradient(to right, rgba(255, 255, 255, 1) 0%, rgba(255, 255, 255, 1) 80%, rgba(255, 255, 255, 0) 100%);
  }
  
  @keyframes heartRateIn {
    0% {
      width: 100%;
    }
    50% {
      width: 0;
    }
    100% {
      width: 0;
    }
  }
  
  @keyframes heartRateOut {
    0% {
      left: -120%;
    }
    30% {
      left: -120%;
    }
    100% {
      left: 0;
    } 
  }*/