<div class="sub-heading">
    <h4>Education</h4>
    <div>
        <h5>2009</h5>
        <h5>Maharishi Vidya Mandir</h5>
        <h5>Pithoragarh, UK</h5>
        <h5>10th</h5>
          <ul class="edu-percentage">
            <li>Completed with 84%</li>
          </ul>
    </div>
    <div>
        <h5>2011</h5>
        <h5>Maharishi Vidya Mandir</h5>
        <h5>Pithoragarh, UK</h5>
        <h5>12th</h5>
        <ul class="edu-percentage">
          <li>Completed with 62%</li>
        </ul>
    </div>
    <div>
        <h5>2015</h5>
        <h5>Amrapali Group Of Institutes</h5>
        <h5>Haldwani, UK</h5>
        <h5>B.C.A</h5>
        <ul class="edu-percentage">
          <li>Graduated with 67%</li>
        </ul>
    </div>
    <div>
        <h5>2017</h5>
        <h5>Institute Of Management And Entrepreneurship Development,Pune</h5>
        <h5>Pune, MH</h5>
        <h5>M.C.A</h5>
        <ul class="edu-percentage">
          <li>Graduated with 70%</li>
        </ul>
    </div>
  </div>
  